{% extends 'base.html' %}

{% block content %}

<div class="container-fluid backgroundDark">
   <div class="container-xxl text-light">
      <div class="text-center">
         <h1 class="display-1 py-5">My Account/Bookings</h1>
      </div>

      <div class="row">
         <div class="col-12 col-xl-4">
            <nav class="navbar navbar-expand-lg navbar-dark">
               <div class="container">
                  <h1 class="display-4">Details</h1>
               </div>
            </nav>

            <hr class="my-1">
            <div class="row" id="detailsFontAll">
               <div class="col-4 text-end" id="detailsFontLight">
                  <h2>Name</h2>
                  <h2>Mobile</h2>
                  <h2>Email</h2>
               </div>
               <div class="col-8 text-start">
                  <h2>{{ user.firstName }} {{ user.lastName }}</h2>
                  <h2>{{ user.mobileNo }}</h2>
                  <h2>{{ user.email_address }}</h2>
               </div>
            </div>
         </div>


         <div class="col-12 col-xl-8">
            <nav class="navbar navbar-expand-lg navbar-dark">
               <div class="container">

                  <h1 class="display-4">My Booking</h1>

                  <button class="navbar-toggler bg-success" type="button" data-bs-toggle="collapse"
                     data-bs-target="#filterAndSortButtons" aria-controls="filterAndSortButtons" aria-expanded="false"
                     aria-label="Toggle navigation">
                     <span class="navbar-toggler-icon"></span>
                  </button>
               </div>
            </nav>
            <hr class="my-1">

            {% for booking in bookings %}
            <div class="row m-3 dropShadowForBookings">
               <div class="col-12 col-sm-8 infoPart">
                  <div class="p-3 text-light bookingGradientBg infoPart-rounded">
                     <h1 class="display-3 mb-2">{{ booking.event.eventName }}</h1>
                     <hr>
                     <p class="m-0">Ticket Type</p>
                     <h3 class="mb-4 display-6">{{ booking.ticket.ticketType }}</h3>
                     <div class="row">
                        <div class="col-6">
                           <p class="m-0">Booking ID</p>
                           <h3 class="mb-4 display-6">{{ booking.bookingID }}</h3>
                        </div>
                        <div class="col-6">
                           <p class="m-0">No of Tickets</p>
                           <h3 class="mb-4 display-6">{{ booking.NoOfTicket }}</h3>
                        </div>
                        <!-- <div class="col-6">
                              <p class="m-0">Seat Number</p>
                              <h3 class="mb-4">A2, A3, A4</h3>
                           </div> -->
                        <div class="col-12">
                           <p class="m-0">Price</p>
                           <h3 class="mb-4 display-6">${{ booking.totalPrice }}</h3>
                        </div>
                        <div class="col-12">
                           <p class="m-0">Booking Date</p>
                           <h3 class="mb-4">{{ booking.date.strftime('%d/%m/%Y') }}</h3>
                        </div>
                     </div>
                  </div>
               </div>

               <div class="col-12 col-sm-4 datePart">
                  <div
                     style="background-image: linear-gradient(rgba(46, 46, 46, 0.5), rgba(73, 56, 56, 0.8)), url(../static/{{booking.event.imagePath}});"
                     class="p-3 text-light h-100 justify-content-center align-middle text-center datePart-rounded bookingImages">
                     <div class="m-5">
                        <h1 class="display-1 d-inline d-sm-block my-5">{{ booking.event.dateTime.strftime('%b')}}</h1>
                        <h1 class="display-1 d-inline d-sm-block my-5">{{ booking.event.dateTime.strftime('%d')}}</h1>
                        <h3 class="display-1 d-inline d-sm-block my-5">{{ booking.event.dateTime.strftime('%Y')}}</h3>
                     </div>
                  </div>

               </div>
            </div>
            {% endfor %}

         </div>

      </div>

   </div>
</div>
{% endblock %}