{% extends 'base.html' %}

{% block content %}
   <div class="container-fluid" id="eventDetailsHeader">
      <img class="w-100" src="{{ url_for('static',filename=event.imagePath) }}" alt="Melody Master Photo"> 
   </div>
   <div class="container-fluid backgroundDark">
      <div class="container text-light">
         <div class="row p-3">
            <div class="col-12 col-md-7 text-center text-md-start">
               <h3 class="display-6">28th August</h3>
               <h1 class="display-1">{{ event.eventName }}</h1>
               <hr>
               <h2 class="display-6">When and where</h2>
               <h1>
                  <span class="badge buttonGreenBgNoHover m-3">{{ event.dateTime }}</span>
                  <span class="badge buttonGreenBgNoHover m-3">{{ event.location }}</span>
               </h1>
               <hr>
               <h2 class="display-5">Artists</h2>
               <div class="row">
                  <div id="eventDetailsArtists" class="col-12 col-md-6">
                     <img class="img-fluid w-100" src="{{ url_for('static',filename='image/arttistMusicDetails.jpg') }}" alt="Artist Photo">  
                     <!-- https://unsplash.com/photos/ZwiJNF3cIXw -->
                  </div>
                  <div class="col-12 col-md-6 p-3">
                     <h1>{{ eventDetails.artistName }}</h1>
                  </div>
               </div>
               <hr>
               <h2 class="display-5">Description</h2>
               <p>{{ eventDetails.description }}</p>
               <h2 class="display-5">Capacity: <span class="badge buttonGreenBgNoHover fontSize2VW mr-5 my-3">{{ eventDetails.capacity }}</span>
               </h2>
            </div>
            <div class="col-12 col-md-5 text-center text-lg-start">
               <h1 class="display-2">Prices</h1>
               <div class="container my-3 detailsButton rounded text-center text-lg-end py-3">

                  {% for ticket in ticketDetails %}
                  <div class="row my-3">
                     <div class="col-12 col-lg-8 my-auto">
                        <h2 class="d-inline text-light">{{ ticket.ticketType }}</h2>
                     </div>
                     <div class="col-12 col-lg-4">
                        <h1 class="d-inline display-5 mx-2"><span
                              class="badge backgroundDarkGradientForPrice fontSize2VW mr-5 my-3 display-1">${{ ticket.ticketPrice }}</span>
                        </h1>
                     </div>
                  </div>
                  {% endfor %} 

               </div>

               <div class="container my-3 text-center text-lg-start">
                  <h2 class="display-5">Availability</h2>
                  <h1 class="display-3"><span class="badge detailsButton mr-5 my-3 display-1 rounded">{{ eventDetails.availability }} left</span>
                  </h1>
               </div>
               <div class="container my-3">
                  <div class="input-group input-group-lg mb-3">
                     <label class="input-group-text p-3" for="inputGroupSelect01" id="inputBookText">Ticket Type</label>
                     <select class="form-select" id="inputGroupSelect01">
                        <option selected>Choose...</option>
                        <option value="1">General Admission</option>
                        <option value="2">VIP</option>
                        <option value="3">Early-bird</option>
                     </select>
                  </div>
                  <div class="input-group input-group-lg mb-3 mt-3">
                     <label class="input-group-text p-3" for="inputGroupSelect01" id="inputBookText">No of
                        Ticket</label>
                     <input type="number" class="form-control" aria-label="Sizing example input"
                        aria-describedby="inputGroup-sizing-default">
                  </div>
                  <button id="bookTicketButton" type="button"
                     class="my-3 btn buttonGreenBg btn-lg w-100 p-3 fontSize1VW">Book
                     Tickets</button>
               </div>
            </div>

         </div>
         <hr>
         <div class="p-2">
            <h1 class="display-3 mb-5 text-center text-md-start">Reviews</h1>
            <p>Share your experience here!</p>
            <textarea class="form-control mb-2" id="seatConfiguring" rows="3"></textarea>
            <button class="btn btn-lg buttonGreenBg mb-5 fontSize1VW">Post A Review</button>
            <div class="mb-5">
               <h3>Gary Nguyen - 18th August 2023 - <span class="badge detailsButton">4/5</span></h3>
               <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                  industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                  scrambled it to make a type specimen book. </p>
            </div>
            <div class="mb-5">
               <h3>Gary Nguyen - 18th August 2023 - <span class="badge detailsButton">4/5</span></h3>
               <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                  industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                  scrambled it to make a type specimen book. </p>
            </div>
            <div class="pb-5">
               <h3>Gary Nguyen - 18th August 2023 - <span class="badge detailsButton">4/5</span></h3>
               <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                  industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                  scrambled it to make a type specimen book. </p>
            </div>
         </div>


      </div>
   </div>
   {% endblock %}