{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form %}
{% block content %}
{% with errors = get_flashed_messages(category_filter=["error"]) %}
    {% if errors%}
    {% for msg in errors %}
    <div id="messageBox"
        style="border-style: solid; border-color: #f04d4d; background-color: #1a1a1a; border-radius: 5px;">
        <div id="text" style="color: #f04d4d; text-align: center;">
            <p style="margin: 5px;">//: {{msg}}</p>
        </div>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
<div class="container-fluid" id="eventDetailsHeader">
   <img class="w-100" src="{{ url_for('static',filename=event.imagePath) }}" alt="Melody Master Photo">
</div>
<div class="container-fluid backgroundDark">
   <div class="container text-light">
      <div class="row p-3">
         <div class="col-12 col-md-7 text-center text-md-start">
            <h3 class="display-6">{{event.dateTime.strftime('%d %B')}}
               {% if event.status.value == 'Open' %}
                                <span class="badge bg-success">{{event.status.value}}</span>
                            </h4>
                            {% elif event.status.value == 'Cancelled' %}
                            <span class="badge bg-danger">{{event.status.value}}</span></h4>
                            {% elif event.status.value == 'SoldOut' %}
                            <span class="badge bg-warning text-dark">Sold Out</span></h4>
                            {% else %}
                            <span class="badge bg-secondary">{{event.status.value}}</span></h4>
                            {% endif %}
            </h3>
            <h1 class="display-1">{{ event.eventName }}</h1>
            <hr>
            <h2 class="display-6">When and where</h2>
            <h1>
               <span class="badge buttonGreenBgNoHover m-3">{{ event.dateTime }}</span>
               <span class="badge buttonGreenBgNoHover m-3">{{ event.suburb }} - {{ event.state }}</span>
            </h1>
            <hr>
            <h2 class="display-5">Artists</h2>
            <div class="row">
               <div id="eventDetailsArtists" class="col-12 col-md-6">
                  <img class="img-fluid w-100" src="{{ url_for('static',filename=eventDetails.imagePath) }}"
                     alt="Artist Photo">
                  <!-- https://unsplash.com/photos/ZwiJNF3cIXw -->
               </div>
               <div class="col-12 col-md-6 p-3">
                  <h1>{{ eventDetails.artistName }}</h1>
               </div>
            </div>
            <hr>
            <h2 class="display-5">Description</h2>
            <p>{{ eventDetails.description }}</p>
            <h2 class="display-5">Capacity: <span class="badge buttonGreenBgNoHover fontSize2VW mr-5 my-3">{{
                  eventDetails.capacity }}</span>
            </h2>
            {% if userID.userID == event.userID %}
            <a id="LoginButton" class="buttonGreenBg rounded text-light p-3 display-4" style="text-decoration: none;"
                            href="{{ url_for('creator.show2', id = event.eventID)}}">Update Event</a>
            {% endif %}
         </div>
         <div class="col-12 col-md-5 text-center text-lg-start">
            <h1 class="display-2">Prices</h1>
            <div class="container my-3 detailsButton rounded text-center text-lg-end py-3">

               {% for ticket in ticketDetails %}
               <div class="row my-3">
                  <div class="col-12 col-lg-8 my-auto">
                     <h2 class="d-inline text-light">{{ ticket.ticketType }}</h2>
                  </div>
                  <div class="col-12 col-lg-4">
                     <h1 class="d-inline display-5 mx-2"><span
                           class="badge backgroundDarkGradientForPrice fontSize2VW mr-5 my-3 display-1">${{
                           ticket.ticketPrice }}</span>
                     </h1>
                  </div>
               </div>
               {% endfor %}

            </div>

            <div class="container my-3 text-center text-lg-start">
               <h2 class="display-5">Availability</h2>
               <h1 class="display-3"><span class="badge detailsButton mr-5 my-3 display-1 rounded">{{
                     eventDetails.availability }} left</span>
               </h1>
            </div>


            <form class="container my-5" action="{{event.eventID}}/book" method="POST">
               <h2 class="display-5">Book ticket here!</h2>
               <div class="input-group input-group-lg mb-3">
                  <label class="input-group-text p-3 detailsButton" for="ticket_type">Ticket Type:</label>
                  <select class="form-select" name="ticket_type" id="ticket_type">
                     {% for ticket in ticketDetails %}
                     <option value="{{ ticket.ticketID }}">{{ ticket.ticketType }}</option>
                     {% endfor %}
                  </select>
               </div>

               <div class="input-group input-group-lg mb-3 mt-3">
                  <label class="input-group-text p-3 detailsButton" for="quantity">Quantity:</label>
                  <input class="form-control" type="number" name="quantity" id="quantity" required><br>
               </div>

               <button class="my-3 btn buttonGreenBg btn-lg w-100 p-3 fontSize1VW" type="submit">Book Tickets</button>
            </form>
         </div>

      </div>
      <hr>
      <div class="p-2">
         <h1 class="display-3 mb-5 text-center text-md-start">Reviews</h1>
         <!-- <form method="POST" class="form" action="/details/{{event.eventID}}/comment">
               <div class="form-group">
                   {{ form.text.label(class="form-label") }}
                   {{ form.text(class="form-control mb-2") }}
               </div>
               <div class="form-group">
                  {{ form.rating.label(class="form-label") }}
                  {{ form.rating(class="form-control", type="range", min=1, max=5, step=1) }}
               </div>
               <div class="form-group mt-3">
                  {{ form.submit(class="btn btn-primary") }}
                </div>
           </form> -->

         <p>Share your experience here!</p>
         <form method="POST" action="/details/{{event.eventID}}/comment">
            <div class="form-group">
               <textarea class="form-control mb-2" id="comment_content" name="comment_content" required></textarea>
            </div>
            <div class="form-group">
               <label for="rating_value">Rating</label>
               <input type="range" class="form-control mb-2" id="rating_value" name="rating_value" min="1" max="5"
                  required>
            </div>
            <button type="submit" class="btn btn-lg buttonGreenBg mb-5 fontSize1VW">Post A Review</button>
         </form>

         <!-- {{ render_form(form,"/details/{0}/comment".format(event.eventID)) }} -->

         {% for comment in event.comments %}

         <div class="mb-5">
            <h3>{{ comment.user.firstName }} - {{ comment.post_date.strftime('%d/%m/%Y')}} - <span
                  class="badge detailsButton">{{ comment.ratingValue }}/5</span></h3>
            <p>{{ comment.commentContent }}</p>
         </div>
         {% endfor %}
      </div>


   </div>
</div>
{% endblock %}