@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');

body {
    font-family: 'Share Tech', sans-serif;
}


#companyLogo {
    height: 80px;
}

#navbar#buttonHoverEffects {
    font-size: 20px;
}

#navbar#buttonHoverEffects a {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

#browseAndCreateEventHere {
    min-height: 40vh;
}

#browseEventHere {
    background-image: linear-gradient(rgba(7, 17, 13, 0.6), rgb(0, 97, 78, 0.9)), url(../image/browseEventImg.jpg);
    /* https://unsplash.com/photos/ZhQCZjr9fHo */
    background-repeat: no-repeat;
    background-size: cover;
}

#createEventHere {
    background-image: linear-gradient(rgba(7, 17, 13, 0.6), rgb(0, 97, 78, 0.9)), url(../image/createEventImg.jpg);
    /* https://unsplash.com/photos/YrtFlrLo2DQ */
    background-repeat: no-repeat;
    background-size: cover;
}

#GenresCheckBoxes label {
    font-size: clamp(20px, 4vw, 30px);
}

#eventDetailsHeader {
    padding: 0;
}

#eventDetailsHeader img {
    max-height: 30vh;
    object-fit: cover;
}


#eventDetailsArtists img {
    border-radius: 15px;
    max-height: 200px;
    object-fit: cover;
}

#bookTicket#buttonHoverEffect {
    font-size: clamp(20px, 4vw, 45px)
}

.label-large {
    font-size: clamp(20px, 4vw, 30px)
}

#timeslotsAdded {
    font-size: clamp(15px, 4vw, 22px)
}

#ticketTypeAdded {
    font-size: clamp(25px, 4vw, 35px);
    display: block;
}

#artistNames {
    margin-top: 10px;
}

#artistNames li {
    margin: 10px;
    font-size: clamp(15px, 4vw, 22px)
}

#postEvent#buttonHoverEffect {
    font-size: clamp(30px, 4vw, 45px);
}

.form-switch .form-switch-lg {
    margin-bottom: 1.5rem;
    /* JUST FOR STYLING PURPOSE */
}

.navbar-collapse {
    text-align: center;
}

#filterAndSort#buttonHoverEffects a {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

#detailsFontLight h2 {
    font-weight: lighter;
}

#detailsFontAll h2 {
    margin: 1.5rem 0 1.5rem;
}

#EditDetails#buttonHoverEffect a {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.infoPart-rounded {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.datePart-rounded {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

@media (max-width: 575px) {
    .datePart-rounded {
        border-top-right-radius: 0px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;

    }


    .infoPart-rounded {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0px;
    }
}



.navButtons:hover {
    background-color: #009f85;
    border-radius: 10px;
}

.infoPart,
.datePart {
    padding: 0;
}


.eventImgHomePage {
    width: 100%;
    height: 22vh;
    object-fit: cover;
}

#inputBookText {
    font-size: clamp(20px, 4vw, 25px);
    font-weight: bold;
}

.bookingImages {
    background-size: cover;
    background-position: center;
}

.bookingImages h1,
.bookingImages h3 {
    font-weight: 800;
}


.backgroundDark {
    background-image: linear-gradient(#07110d, #0e5748)
}

.backgroundDarkDiagonalGradient {
    background-image: linear-gradient(100deg, #0e5748, #07110d);
}

.backgroundDarkGradientForPrice {
    background-image: linear-gradient(80deg, #0e5748, #07110d);
    filter: drop-shadow(9px 4px 2px #07110d);
}

.backgroundDarkNoGradient {
    background-color: #07110d;
}

.backgroundDarkGradientForFooter {
    background-image: linear-gradient(#0e5748, #07110d)
        /* border-top: #009f85 solid 2px; */
}

.backgroundGreenNoGradient {
    background-color: #0e5748;
}



.mainbuttonGreenBg {
    background-color: #07110d;
    font-size: clamp(30px, 4vw, 60px);
    transition: 0.5s;
}

.mainbuttonGreenBg:hover {
    background-color: #0e5748;
    border: solid 2px #07110d;
    transform: 2s;
}


.buttonGreenBg {
    background-color: #009f85;
    transition: 0.3s;
    color: #d4e6e3;
}

.buttonGreenBgNoHover {
    background-color: #009f85;
    transition: 0.3s;
    color: #d4e6e3;
}

.buttonGreenBg:hover {
    background-color: #00614e;
    color: #d4e6e3;
    border: solid 2px #009f85;
}

.fontSize1VW {
    font-size: clamp(20px, 4vw, 30px);
}

.fontSize2VW {
    font-size: clamp(25px, 4vw, 40px);
}

.fontSize3VW {
    font-size: clamp(30px, 4vw, 60px);
}


.filterButtons {
    border: #009f85 2px solid;
    color: white;
}


.filterButtons:hover {
    background-color: #00614e;
    color: white;
    border: solid 2px #009f85;
}


.detailsButton {
    background-color: #00614e;
    color: white;
    filter: drop-shadow(9px 4px 2px #07110d);
}

/* .detailsButton:hover {
    background-color: #009f85;
    color: white;
} */

.navFontSize {
    font-size: clamp(20px, 4vw, 30px);
}

.dropShadowForBookings {
    filter: drop-shadow(9px 4px 12px #07110d);
}

.bookingGradientBg {
    background-image: linear-gradient(120deg, #07110d, #011e18);
}

#loginForm {
    margin-left: 33%;
    margin-top: 10%;
    margin-bottom: 10%;
    padding: 10px;
}

#registerForm {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
    margin-bottom: 10%;
}

#formBox {
    background-color: #07110d;
    border-style: solid;
    border-color: white;
    width: 40%;
    height: auto;
    margin-left: 29%;
}

#formBox p {
    margin-top: 10px;
    color: white;
}

#registerForm input[type=text] {
    height: 47px;
    border-radius: 5px;
    border-style: none;
    font-size: 20px;
}

#formBox h2 {
    color: white;
}

.submitButton input {
    background-color: #009f85;
    transition: 0.3s;
    display: block;
    border-radius: 4px;
    border-style: none;
}

#LoginButton {
    width: 120px
}